/* --------------- CSS for HTML elements --------------- */

body {
  margin: 0;
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: medium;
}

h1 {
  margin-top: 0;
  font-family: 'Parisienne', cursive;
  padding: 0;
  font-size: 64px;
  color: #3ebea5;
  line-height: 1.5;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 32px;
  color: #3ebea5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #9db4c7;
  border-width: 12px;
  width: 12%;
  margin-top: 32px;
}

a:link {
  font-size: 17px;
  color: white;
  font-family: sans-serif;
}

a:visited {
  font-size: 17px;
  color: white;
  font-family: sans-serif;
}

a:hover {
  font-size: 17px;
  color: #FDC299;
  font-family: sans-serif;
}

a:active {
  font-size: 17px;
  color: white;
  font-family: sans-serif;
}

/* --------------- CSS for classes --------------- */

.avatar {
  margin-top: 3%;
  width: 200px;
  height: auto;
  border-radius: 100%;
}

.photos {
  margin-top: 3%;
  width: 200px;
  height: auto;
}

.top-container {
  background-color: #b2eff7;
  position: relative;
  padding: 30px;
  padding-top: 180px;
}

.top-cloud {
  position: absolute;
  right: 33%;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 33%;
  bottom: 330px;
}

.subtitle {
  font-size: 32px;
}

.description {
  font-size: 24px;
}

.button {
  background-color: #3ebea5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}

.button:hover {
  background-color: #00AA9A;
  cursor: pointer;
}

.bottom-container {
  background-color: #3ebea5;
  position: static;
  padding-bottom: 9px;
  padding-top: 24px;
  margin-top: 24px;
}

.links {
  padding: 1%;
}

/* --------------- CSS for IDs --------------- */

#copyright {
  font-size: 11px;
  color: white;
  font-family: sans-serif;
}
